Pandas/Lectures/*.ipynb
Pandas/Hometask/*.csv
Pandas/Data/train.csv
Pandas/Data/test.csv
Pandas/Data/sample_submission.csv
Pandas/Data/supermarket_sales.csv
Pandas/Hometasks/yulu_bike_sharing_dataset.csv
AB тестування дз/statistical_hypothesis
Машинне навчання/credit_risk_dataset.csv
Машинне навчання/House_Rent_Dataset.csv
