Pandas/Lectures/*.ipynb
Pandas/Hometask/*.csv
Pandas/Data/train.csv
Pandas/Data/test.csv
Pandas/Data/sample_submission.csv
Pandas/Data/supermarket_sales.csv
Pandas/Hometasks/yulu_bike_sharing_dataset.csv
AB тестування дз/statistical_hypothesis
Машинне навчання/credit_risk_dataset.csv
Машинне навчання/House_Rent_Dataset.csv
Pandas/Hometasks/ecommerce_data.csv
Pandas/Hometasks/germany_vs_france_report.html
Machine learning. New course/tip.csv
Machine learning. New course/application_data_processed.csv
Machine learning. New course/application_data.csv
Machine learning. New course/columns_description.csv
Machine learning. New course/previous_application.csv
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/sample_submission.csv
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/test.csv
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/train.csv
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/submission.csv
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/test_inputs.parquet
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/train_inputs.parquet
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/train_targets.parquet
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/val_inputs.parquet
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/val_targets.parquet
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/regression_data.csv
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/logistic_regression_pipeline.joblib
Machine learning. New course/Kaggle competition 1 (Bank Customer Churn Prediction (DLU Course c.5))/customer_segmentation_train.csv
